<div class="content">
    <h1>Добро пожаловать на сайт Ильвира, не Ильвиры, а Ильвира</h1>
    <div><h2>Список заданий:</h2> <br> 
    <ul>
    <li><a href="/meterdatatech">1. Подключить таблицу meters_data_tech. На странице сделать вывод показаний счетчика электроэнергии из БД (поле energy_a (кВт*ч))  вместе с id счетчика и указанием даты и времени (time_server в формате unix timestamp UTC 0, нужно привести к нашему местному времени в человеческом формате). По умолчанию выбирать самые свежие показания.</a></li>
    <li><a href="/choosedate">2. Сделать возможность запросить показания на любую дату. Показать какой диапазон дат доступен.</a></li>
    <li><a href="#">3. Построить суточный график потребляемой мощности по счетчику на выбранную дату.
Мощность в кВт рассчитывается как разница показаний деленная на разницу времени между показаниями в часах.
</a></li>
    <li><a href="/stress">4.Дополнить вывод текущими значениями напряжения по каждой из трех фаз (u1, u2, u3 (В)). Рассчитать среднее, минимальное и максимальное значение напряжения за текущий месяц с указанием времени и даты максимального и минимального значений.</a></li>
    <li><a href="/counter">5. Подключить таблицу meter и дополнить в выводе серийный номер счетчика и его название.</a></li>
    </ul>
    </div>
</div>
<style>
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 16px;
    }
    a{
        text-decoration: none;
        margin: 50px 0;
        border-radius: 10px;
    }
    li{
        margin: 10px 0;
    }
    body{
        font-family: Arial;
    }
</style>