<form method="post">
        <input type = "date" name = "firstdate" value = "start-date">
        <input type = "date" name = "seconddate" value = "final-date">
        <input type = "submit" name = "button" value = "Показать">
</form>
<a href="/">Вернуться на главную</a>
<style>
a{
    color: #fac716;
    text-decoration: none;
    font-size: 16px;
    
}
</style>