    <head>
        <style>
            a{
                color: #000;
                font-size: 25px;
                text-decoration: none;
            }
        </style>
        <meta charset="UTF-8">
    </head>
    <br>
    <a href="/">Главная страница</a>

